SECRET_KEY=my-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost


MYSQL=False
MYSQL_NAME=name
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_HOST=host_aws
MYSQL_PORT=3306

USE_S3=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=