SECRET_KEY=my-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DEFAULT_FROM_EMAIL=no-reply@booking.local
DEMO_USER_PASSWORD=Password_secure

MYSQL=False
MYSQL_ENGINE=django.db.backends.mysql
MYSQL_NAME=name
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_HOST=host_aws
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=password_secure

POSTGRES=False
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_NAME=my_postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=user
DJANGO_SUPERUSER_EMAIL=user@example.com
DJANGO_SUPERUSER_PASSWORD=user_password